<div class="row">
    <div class="card col badge-dark p-3 m-3 sd">
        <div class="ui statistic brown">
            <div class="label">
                <h3 class="badge-danger sd" style="color: aliceblue;">Confirmed</h3>
            </div>
            <div class="value">
                {{totalConfirmed}}
            </div>
        </div>
    </div>
    <div class="card col badge-danger p-3 m-3 sd">
        <div class="ui statistic white">
            <div class="label">
                <h3 class="badge-dark sd" style="color: cornsilk;">Deaths</h3>
            </div>
            <div class="value">
                {{totalDeaths}}
            </div>
        </div>
    </div>
    <div class="card col badge-success p-3 m-3 sd">
        <div class="ui statistic white">
            <div class="label">
                <h3 class="badge-primary sd" style="color: floralwhite;">Recovered</h3>
            </div>
            <div class="value">
                {{totalRecovered}}
            </div>
        </div>
    </div>
    <div class="card col badge-pill p-3 m-3 sd">
        <div class="ui statistic violet">
            <div class="label">
                <h3 class="badge-warning sd" style="color: crimson;">Active</h3>
            </div>
            <div class="value">
                {{totalActive}}
            </div>
        </div>
    </div>
</div>